<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tunak Tunak Trump</title>
    <style>
/*      html, body {
          height: 100%;
      }
      body {
          margin: 0;
      }
      .flex-container {
          height: 100%;
          padding: 0;
          margin: 0;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
      }*/
    </style>
  </head>
  <body>
    <div class="flex-container">
      <form method="POST" action="call">

        <h1>Pick a video to play when it calls them</h1>
          <input type="radio" name="video" value="https://www.youtube.com/embed/vTIIMJ9tUc8" checked> Tunak Tunak Tun
          <br/>
          <blockquote><iframe width="224" height="126" src="https://www.youtube.com/embed/vTIIMJ9tUc8" frameborder="0" allowfullscreen></iframe></blockquote>
          <br/>
          <input type="radio" name="video" value="https://www.youtube.com/watch?v=dQw4w9WgXcQ" checked> Never Gonna Give You Up
          <br/>
          <blockquote><iframe width="224" height="126" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe></blockquote>
          <br/>
          <input type="radio" name="video" value="other"> Other Youtube video:
          <br/>
          <input type="text" name="custom" placeholder="https://www.youtube.com/embed/vTIIMJ9tUc8" style="font-size: 20px;
    width: 500px;"/>
          <br/>
          <button style="font-size: 25px;" type="submit">Call</button>
      </form>
      <hr/>
      <div>
        <h1>Context:</h1>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">WHAT IN THE HELL DID I JUST WATCH???????????????????????????WHEN HAS A PRESIDENT EVER DONE THIS???! IM SCREAMING!!!!!!!!!!!! <a href="https://t.co/LupgicIyUz">pic.twitter.com/LupgicIyUz</a></p>&mdash; Jess (@Jess4_RK) <a href="https://twitter.com/Jess4_RK/status/825358392575266816">January 28, 2017</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </body>
</html>