<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tunak Tunak Trump</title>
    <style>
      html, body {
          height: 100%;
      }
      body {
          margin: 0;
      }
      .flex-container {
          height: 100%;
          padding: 0;
          margin: 0;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="flex-container">
      <h1>Bam!</h1>
      <p>In a few minutes, your call should show up on <a href="/call_log">the list</a>. Keep up the fight!</p>
    </div>
  </body>
</html>